<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<servlet>
		<servlet-name>collector</servlet-name>
		<servlet-class>com.atomrom.ninety7.service.Ninety7CollectorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>collector</servlet-name>
		<url-pattern>/collector</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>digest</servlet-name>
		<servlet-class>com.atomrom.ninety7.service.DigestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>digest</servlet-name>
		<url-pattern>/digest</url-pattern>
	</servlet-mapping>
	
</web-app>
